<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サンプルアプリケーションの実装</title>
</head>

<body>
    <div id="app">
        <!-- router-linkによるナビゲーションの定義 -->
        <nav>
            <router-link to="/top">トップページ</router-link>
            <router-link to="/users">ユーザー一覧</router-link>
            <router-view></router-view>
        </nav>
    </div>

    <script type="text/x-template" id="user-list">
        <!-- ここにコンポーネントのtemplateを記載する -->
        <!-- コンポーネントごとに繰り返しscriptタグで定義 -->
        <div>
            <div v-if="loading">読み込み中</div>
            <div v-if="error">
                {{ error }}
            </div>
            <div v-for="user in users" :key="user.id">
                <h2>{{ user.name }}</h2>
            </div>
        </div>
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="app.js"></script>
    <script>
        // var getUsers = function () {
        //     return {
        //         [{
        //                 id: 1,
        //                 name: 'Takuya Tejima'
        //             },
        //             {
        //                 id: 2,
        //                 name: 'Yohei Noda'
        //             }
        //         ]
        //     }
        // }

        var getUsers = function (callback) {
            setTimeout(function() {
                callback(null, [{
                            id: 1,
                            name: 'Takuya Tejima'
                        },
                        {
                            id: 2,
                            name: 'Yohei Noda'
                        }
                    ]
                )
            }, 1000);
        }

        var UserList = {
            // HTML上のscriptタグのidを指定する
            template: '#user-list',
            data: function () {
                return {
                    loading: false,
                    users: function () {
                        return []
                    }, // 初期値の空配列
                    error: null
                }
            },
            // 初期化時にデータを取得する
            created: function () {
                this.fetchData()
            },
            methods: {
                fetchData: function () {
                    this.loading = true
                    getUsers((function(err, users){
                        this.loading = false
                        if (err) {
                            this.error = err.toString()
                        } else {
                            this.users = users
                        }
                    }).bind(this))
                }
            },
        }

        var router = new VueRouter({
            routes: [{
                    path: '/top',
                    component: {
                        template: '<div>トップページです。</div>'
                    }
                },
                {
                    path: '/users',
                    component: UserList
                }
            ]
        })

        var app = new Vue({
            router: router
        }).$mount('#app')
    </script>
</body>

</html>